
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Manrope:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1324px;
    margin: 0 auto;
   
 }
body{
    font-family: "Inter", sans-serif;  
}
.common__title{
    text-align: center;
}
.common__title h2{
    font-weight: 700;
    font-size: 45px;
    color: #151515;
    margin-bottom: 20px;
}
.common__title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
    width: 609px;
    margin: 0 auto;
}
/* common part end */

/* background-position: center; */
.bgimage{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/agenc-Banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center-bottom;
}
.bgimage::after{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}
.nav__item__position{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.nav__a{
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-left: 50px;
    background-color: transparent;

    
}
.nav__li a:hover{
       color: #6A4DF4;
    
}
.nav__right{
    text-decoration: none;
    color:#FFFFFF ;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    background: #6A4DF4;
    border-radius: 10px;
    padding: 15px 42px;
   
}
.banner_text__h1{
    font-weight: 700;
    line-height: 90px;
    font-size: 75px;
    color: #FFFFFF;
    width: 950px;
   position: absolute;
text-align: center;
   width: 950px;
  left: 325px;
  top: 315px;
  margin: 0 auto;
}
.banner_text__p{
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    color: #FFFFFF;
    width: 621px;
    margin: 0 auto;
 
    position: absolute;
    top: 546px;
    left: 491px;
    text-align: center;
    
}
.banner__button{
    background: #6A4DF4;
    color: #FFFFFF;
   
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding: 15px 42px;
    margin-bottom: 175px;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: 701px;
    top:665px ;
}
.dotted{
    display: flex;
bottom: 42px;
left: 749px;
gap: 2px;
opacity: 1px;
position: absolute;

}



/* banner part start */


/*      <!-- Our Success start --> */
#success{
    margin-top: 170px;
    margin-bottom: 149px;
}
.success__wrapper{
    background: #E0FFF9;
    border-radius: 20px;
    width: 100%;
    padding: 85px 0px 85px 50px;
}
.success__item__h5{
 
font-size: 25px;
font-weight: 500;
line-height: 30px;
margin-bottom: 15px;
color: #337FFF;

}
.success__item__h4{
   
font-size: 35px;
font-weight: 600;
line-height: 42.36px;


}
.success__item__h3{

font-size: 50px;
font-weight: 700;
line-height: 60.51px;
color: #151515;
margin-bottom: 20px;

}
.success__item__h6{
     font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #737373;  

}
/* Our Provided Services start */

.service__item{
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 80px 47px 49px;
}
.service__item:hover{
    -webkit-box-shadow: 4px 4px 10px 2px rgba(0,0,0,.21);
-moz-box-shadow: 4px 4px 10px 2px rgba(0,0,0,.25);
box-shadow: 4px 4px 10px 2px rgba(0,0,0,.25);
}
.card__subtitle__h5{
    font-weight: 700;
    font-size: 25px;
    color: #151515;
    padding-left: 70px;

    margin-top: 40px;
    margin-bottom: 20px;
}
.card__text__p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
  width: 326px;
}
.service__img{
    padding-left: 100px;
}
.serviceItem{
row-gap: 20px;
}
.serviceItem{
    margin-top: 50px;
}
/* Our Provided Services ending */
/* <!-- Our Recent Work start --> */
#work{
    background: #F3F3F3;
    margin-top: 103px;
    padding-bottom: 150px;
   
}
.work__title__div{
    padding-top: 150px;
    
}
.work_title{
    border-radius: 20px;
    border:1px solid white ;
    background:#FFFFFF;
    margin-top: 50px;

}
.row__gap{
    row-gap: 20px;
}
.work__h2{
   
font-size: 20px;
font-weight: 700;
line-height: 24.2px;
text-align: center;
margin-top: 30px;
margin-bottom: 10px;
}
.work__p{
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
width: 340px;
margin: 0 auto;
padding-bottom: 30px;

}
            
/* <!-- Our Recent Work ending --> */
/* <!-- Why You Should Choose Agenc     part start --> */


.choose__work{
    text-align: center;
}
.choose__h2{
    width: 518px;
    font-weight: 700;
    font-size: 45px;
    color: #151515;

    margin: 0 auto;
    padding-top: 150px;
    margin-bottom: 20px;
}
.choose__p{
    width: 802px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #737373;
    margin: 0 auto;
}
.choose__row{
    margin-top: 137px;
}
.choose__left{
    margin-bottom: 95px;
}

.card__title__choose{
    font-weight: 700;
    font-size: 25px;
    color: #151515;
    margin-top: 20px;
    margin-bottom: 10px;
}
.card__text__choose{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
    width: 344px;
  
}


/* <!-- Why You Should Choose Agenc    end --> */
/* <!-- Some Client Reviews  start--> */
#reviews{
   margin-bottom: 227px;
}
.review__row{
    margin-top: 130px;
}
.review__item{
    padding: 54px 58px;
    border-radius: 30px;
    border: 1px solid #F4EFEF;
}
.review__item__p{
   
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: #7B7B7B;
width: 307px;
margin-top: 20px;
margin-bottom: 20px;

}
.review__item__center{
    background: #F4EFEF;
    border: transparent;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
}
.review__item__icon{
    display: flex;
    gap: 7px;
    font-size: 20px;
    color: #F9BD2C;
    margin-bottom: 30px;
}
.review__item__icon{
    list-style: none;
}
.review__client__text__h5{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color:#232323 ;
}
.review__client__text__h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:#7B7B7B ;
}
.review__item__client{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn__prev{
opacity: 1 !important;
top: 135px;
left: -95px;
}
.btn__next{
opacity: 1 !important;
top: 135px;
right: -95px;
}
.review__icon__prevnext i{
    font-size: 16px;
    color: #F3F3F3;
    background: #337FFF;
    padding: 20px 20px;
    border-radius: 50%;

}
/* <!-- Some Client Reviews ending --> */

/* <!-- Some Client Reviews ending --> */

/* We Do design, Code & Development start */
#design{
    background: #F3F3F3;
    
}
.do__design__part{
    margin-top: 327px;
  
}
.design__h2{
    font-weight: 700;
    font-size: 45px;
    color: #151515;
    width: 470px;
    margin-bottom: 20px;
}
.design__p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #7B7B7B;
    width: 514px;
    margin-bottom: 10px;
}
.design__p2{
    width: 526px;
}
.do__design__input{
    border-radius: 20px;
    background: #FFFFFF;
    margin-top: 150px;
    height: 622px;
    width: 536px;
    margin-bottom: 150px;
    position: relative;
}
.quoate__now{
    width: 450px;
    height: 500px;
    position: absolute;
    /* margin: 0 auto; */
    top: 61px;
    left: 43px;
}
.quoate__now__h2{
    font-weight: 700;
    font-size: 30px;
   color: #151515;
   margin-left: 73px;
   margin-bottom: 30px;
}
.input__box{
    height: 100px;
    width: 450px;
    margin-bottom: 20px;
}
.name__input{
    width: 450px;
    height: 64px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
}
::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
 
}
.input__h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
}
.input__button{
    background-color: #6A4DF4;
    border-radius: 10px;
    height: 64px;
  
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding: 19px 147px;
}

/* footer start  */
footer{
  
    background: #FFFFFF;
    padding: 150px;
}
.footer__left__p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 300px;
    color: #7B7B7B;
    margin-top: 30px;
}
.footer__icon{
    gap: 24px;
    margin-top: 31px;
}
.footer__icon_list{
    text-decoration: none;
}
.footer__facebook__icon{
    color: #337FFF;
    
}
.footer__twiter__icon{
    color: #33CCFF;
}
.footer__list__title{
    font-weight: 600;
    font-size: 20px;
    color: #181818;
  margin-bottom: 12px;
}
.footer__list{
    margin: 0;
    padding: 0;
}
.footer__list__listItem{
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    list-style: none;
    
}
.footer__list__link{
    text-decoration: none;
    color: #5D5D5D;
}